<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Åland Forum</h1>
        <div class="auth-box">
            {{if .SessionID}}
                <p>Logged in as: <strong>{{.Username}}</strong></p>
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {{end}}
        </div>
    </header>    
    <div class="main-container">
        <!-- Categories Section (Left) -->
        <div class="categories">
            <h2>Categories:</h2>
            <p><a href="/filter?category=General">General</a></p>
            <p><a href="/filter?category=Local%20News%20%26%20Events">Local News & Events</a></p>
            <p><a href="/filter?category=Viking%20line">Viking line</a></p>
            <p><a href="/filter?category=Travel">Travel</a></p>
            <p><a href="/filter?category=Sailing">Sailing</a></p>
            <p><a href="/filter?category=Cuisine%20%26%20Food">Cuisine & Food</a></p>
            <p><a href="/filter?category=Politics">Politics</a></p>
        </div>
    
        <!-- Posts Feed (Center) -->
        <div class="posts-feed">
            <div class="form-container">
                <h2>Create a Post</h2>
                <form action="/createPost" method="POST">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
            
                    <label for="content">Content:</label>
                    <textarea id="content" name="content" required></textarea>
            
                    <label for="categories">Categories:</label>
                    <input type="checkbox" name="categories" value="General">General
                    <input type="checkbox" name="categories" value="Local News & Events">Local News & Events
                    <input type="checkbox" name="categories" value="Viking line">Viking Line
                    <input type="checkbox" name="categories" value="Travel">Travel
                    <input type="checkbox" name="categories" value="Sailing">Sailing
                    <input type="checkbox" name="categories" value="Cuisine & food">Cuisine & food
                    <input type="checkbox" name="categories" value="Politics">Politics
            
                    <button type="submit">Post</button>
                </form>
            </div>
            <!-- Back to Home button placed outside the form -->
        </div>
        <div class="back-to-home">
        <p><a href="/">Back to Home</a></p>
    </div>
    </div>
</body>
</html>