<!DOCTYPE html>
<html>
<head>
    <title>Error - Åland Forum</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Åland Forum</h1>
        <div class="auth-box">
            <a href="/">Home</a>
        </div>
    </header>
    <div class="main-container">
        <div class="posts-feed error-container">
            <h1>Error {{.ErrorCode}}</h1>
            <p>{{.ErrorMessage}}</p>
            <div class="category-button">
                <a href="/" class="back-to-home">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>