<!DOCTYPE html>
<html>
<head>
    <title>Åland Forum</title>
    <link rel="stylesheet" href="/static/css/styles.css"></head>
<body>
    <header>
        <h1>Åland Forum</h1>
        <div class="auth-box">
            {{if .SessionID}}
                <p>Logged in as: <strong>{{.Username}}</strong></p>
                <a href="/createPost">Create Post</a>
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {{end}}
        </div>
    </header>    
    <div class="main-container">
        <div class="categories">
            <h2>Categories:</h2>
            <p><a href="/filter?category=General">General</a></p>
            <p><a href="/filter?category=Tech">Tech</a></p>
            <p><a href="/filter?category=Viking line">Viking line</a></p>

            {{if .SessionID}}
            <h2>Filters:</h2>
            <p><a href="/filter?user_created=true">My Posts</a></p>
            <p><a href="/filter?liked=true">Liked Posts</a></p>
            {{end}}
        </div>

        <div class="posts-feed">
            <h2>All posts</h2>
            {{range .Posts}}
                <div class="post">
                    <h2><a href="/post?id={{.ID}}">{{.Title}}</a></h2>
                    <p>{{.Content}}</p>
                    <p>{{.Username}}: {{.Date}}</p>
                </div>
            {{else}}
                <p>No posts available.</p>
            {{end}}
        </div>
    </div>
</body>
</html>
