<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
     <!-- Header section with background image -->
     <header>
        <!-- The background image will be applied here -->
        <h1>Åland Forum</h1> <!-- The name of your website -->
    </header>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>