<!DOCTYPE html>
<html>
<head>
    <title>Login - Åland Forum</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Åland Forum</h1>
    </header>
    <div class="main-container">
        <div class="posts-feed">
            <div class="auth-form">
                <h1>Login</h1>
                {{if .ErrorMessage}}
                    <div class="error">
                        {{.ErrorMessage}}
                    </div>
                {{end}}
                <form action="/login" method="POST">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    
                    <button type="submit">Login</button>
                </form>
                <p>Don't have an account? <a href="/register">Register here</a></p>
                <div class="category-button">
                    <a href="/" class="back-to-home">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>