<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/html/styles.css">
</head>
<body>
    <header>
        <h1>Åland Forum</h1>
        <div class="auth-box">
            <a href="/login">Login</a>
            <a href="/createPost">Create Post</a>
            <a href="/register">Register</a>
            <a href="/logout">Logout</a>
        </div>
    </header>


    <div class="main-container">
        <!-- Categories Section (Left) -->
        <div class="categories">
            <h2>Categories:</h2>
            <p><a href="/filter?category=General">General</a></p>
            <p><a href="/filter?category=Tech">Tech</a></p>
            <p><a href="/filter?category=Viking line">Viking line</a></p>
        </div>
    
        <!-- Posts Feed (Center) -->
        <div class="posts-feed">
            <h1>{{.Category}}</h1>

        {{if .Posts}}
            {{range .Posts}}
            <div id="{{.ID}}">
                <p><a href="/posts?id={{.ID}}">{{.Title}}</a></p>
            </div>
            {{end}}
        {{else}}
            <p>No posts yet.</p>
        {{end}}
        </div>
    </div>
</body>
</html>


